<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>慢慢买-十大品牌</title>
  <link rel="stylesheet" href="lib/mui/css/mui.css">
  <link rel="stylesheet" href="lib/fa/css/font-awesome.css">
  <link rel="stylesheet" href="css/brand.css">
</head>
<body>
  <div class="mmb_container">
    <!--头部-->
    <div class="mmb_header"> 
       <div class="logo">
         <a href="index.html">
           <img src="images/header_logo.png" alt="">
         </a>
       </div>
      <div class="appdown">
        <a href="javascript:;">
          <img src="images/header_app.png" alt="">
        </a>
      </div>
      
    
    </div>
    <!--搜索-->
    <div class="mmb_search">
      <form action="">
        <input type="text" placeholder='请输入你想比价的商品'>
         <button type='button'>搜索</button>
      </form>
    </div>
    
   
    <!--主体区域-->
    <div class="mmb_main">
      <div class="mui-scroll-wrapper">
        <div class="mui-scroll">
          <div class="product_list_title">
            <a href="index.html">首页</a> >
            <a href="category.html">全部分类</a> >
            <button class='mui-btn mui-pull-right'>筛选</button>
          </div>
          <!--热门品牌电视-->
          <div class="hot">
            品牌电视哪个好
          </div>
          <!--分类的标题-->
          <div class="row">
             <ul class="category-title">
               <li>
                 <a href="javascript:;">
                   <i class='top1'>1</i>
                   <div class="info">
                     <div class="brandName">三星平板电视</div>
                       <p>30天全网销售：242408件</p>
                   </div>
                 </a>
                 
               </li>
             
         
              
             
             </ul>
          </div>
          <div class="hd1">
            <h3><a href="">平板电视产品销量排行</a></h3>
          </div>
          <!--产品销量排行-->
          <div class="product-list">
            <ul class="mui-table-view">
              <!--挖个坑-->
              <li class="mui-table-view-cell mui-media">
                <a href="moneyproduct.html?productId={{$v.productId}}">
                  <img class="mui-media-object mui-pull-left" src="images/mnav.jpg">
                  <div class="mui-media-body">
                    <div class="product-title">
                      移动端凑单品：海天 鲜味 生抽 1.28L
                      <span>10.9元</span>
                    </div>
                    <div class="price mui-clearfix">
                      <span  class='mui-pull-left'>&yen;1999</span>
                      <span class='star mui-pull-right'>
                          <i class='fa fa-star'></i>
                          <i class='fa fa-star'></i>
                          <i class='fa fa-star'></i>
                          <i class='fa fa-star'></i>
                          <i class='fa fa-star'></i>
                      </span>
                    </div>
                    <div class="other mui-clearfix">
                      <span class='mall mui-pull-left'>京东商城 | 10-25 14:10</span>
                    </div>
                  </div>
                </a>
              </li>

            </ul>
          </div>
          <!--销量排行商品的评论-->
          <div class="hd2">
            <h3><a href="">平板电视最新评论</a></h3>
          </div>
          <!--商品评论列表-->
             <div class="comm-list">
               <ul>
                 <li>
                   <a href="">
                      <div class="protitle clearfix">
                        <div class="pic">
                          <img src="images/ic_search.png" alt="">
                        </div>
                        <div class="title">
                          乐视TV(Letv) 超3 X55 55英寸智能LED液晶 超级电视 4K超清电视
                        </div>
                      </div>
                       <div class="probox">
                          <div class="com-from">
                            <span>g***n:</span>
                            <span style='color:#ea3900'>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                            </span>
                            <span class='mui-pull-right'>2016/2/18</span>
                          </div>
                            <div class="comm-content">
                              外观：精工细作，颜值再度提高作为一台55寸的大电视，乐视X55正面看起来非常大气，配合Letv独有的造型独特的云底座，整体视觉观感出色。会发光的Letv标识被放置在了机器的左下角，标识右侧，安排有一个圆形的遥控器信号接收区域。乐视X55的边框处理相当讲究，采用了时下智能手机产品上常见的倒角工艺，配合表面的金属拉丝，展现出产品细节上的用心。同时，乐视X55的正面屏幕边框也非常窄，正面边框与屏幕内部黑边的宽度总和近似等于一部普通智能手机的厚度。在成为会员之前，用户对所有高清视频拥有6分钟的试看时间。
                            </div>
                       </div>
                   </a>
                 </li>
               </ul>
             </div>
      </div>
      </div>
    </div>
    
    <!--底部-->
    <div class="mmb_footer">
      <div class="footer_top">
        <a href="javascript:;">注册</a>
        <a href="javascript:;">登录</a>
        <a href="javascript:;" class='back-top'>
          <img src="http://www.zuyushop.com/wap/images/top.jpg" alt="">
          返回顶部</a>
      </div>
         <div class="footer_bottom">
           <p>
             <a href="javascript:;" style='color: red'>手机APP下载</a>
             <a href="index.html">慢慢买手机版</a>
             -- 掌上比价平台
           </p>
           <p>m.manmanbuy.com</p>
         </div>
    
    </div>
    
  
  </div>
</body>
</html>

<!--十大品牌列表的数据模板-->
<script type='text/html' id='tpl_list'>
  {{ each result $v $i}}
  <li>
    <a href="productlist.html?categoryid={{$v.categoryId}}&pageid=1">
      {{if $i==0}}
      <i class='top1'>{{$i+1}}</i>
      {{else if $i==1}}
      <i class='top2'>{{$i+1}}</i>
      {{ else if $i==2}}
      <i class='top3'>{{$i+1}}</i>
      {{else}}
      <i>{{$i+1}}</i>
      {{/if}}
      <div class="info">
        <div class="brandName">{{$v.brandName}}</div>
        <p>{{$v.brandInfo}}</p>
      </div>
    </a>

  </li>
  {{/each}}
</script>

<!--销量排行商品的数据模板-->
<script type='text/html' id='tpl2'>
   {{if result.length>0}}
  {{ each result $v $i}}
  <li class="mui-table-view-cell mui-media">
    <a href="bijia.html?productId={{$v.productId}}&categoryId={{$v.categoryId}}&proName={{$v.productName.slice(0, $v.productName.indexOf(')')+1)}}">
      <%  +$v.productImg %>
      <!--<img class="mui-media-object mui-pull-left" src="images/mnav.jpg">-->
      <div class="mui-media-body">
        <div class="product-title">
          {{$v.productName}}
          <span>{{$v.productPrice}}</span>
        </div>
        <div class="price mui-clearfix">
          <span  class='mui-pull-left'>&yen;1999</span>
          <span class='star mui-pull-right'>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                        </span>
        </div>
        <div class="other mui-clearfix">
          <span>{{$v.productQuote}}</span>
          <span>{{$v.productCom}}</span>
        </div>
      </div>
    </a>
  </li>
  {{/each}}
  {{/if}}
</script>
<!--评论列表的模板-->
<script type='text/html' id='tpl3'>
     {{ if result.length>0}}
  {{ each result $v $i}}
  <li>
    <a href="bijia.html?productId={{$v.productId}}&categoryId={{$v.categoryId}}&proName={{$v.productName.slice(0, $v.productName.indexOf(')')+1)}}">
      <div class="protitle clearfix">
        <div class="pic">
          <%  +$v.productImg   %>
          <!--<img src="images/ic_search.png" alt="">-->
        </div>
        <div class="title">
          {{$v.productName}}
        </div>
      </div>
      <div class="probox">
        <div class="com-from">
          <span>{{$v.comName}}:</span>
          <span style='color:#ea3900'>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                              <i  class='fa fa-star'></i>
                            </span>
          <span class='mui-pull-right'>{{$v.comTime}}</span>
        </div>
        <div class="comm-content">
             {{$v.comContent}}
        </div>
      </div>
    </a>
  </li>
  {{/each}}
  {{/if}}
</script>

<script src='lib/jquery/jquery-1.12.4.js'></script>
<script src='lib/artTemplate/template-web.js'></script>
<script src='lib/mui/js/mui.js'></script>
<script src='js/common.js'></script>
<script src='js/brand.js'></script>
